<%= form_for(@quizproblem) do |f| %>
  <% if @quizproblem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quizproblem.errors.count, "error") %> prohibited this quizproblem from being saved:</h2>

      <ul>
      <% @quizproblem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :statement %><br>
    <%= f.text_field :statement %>
  </div>
  <div class="field">
    <%= f.label :marks %><br>
    <%= f.number_field :marks %>
  </div>
  <div class="field">
    <%= f.label :option %><br>
    <%= f.text_field :option %>
  </div>
  <div class="field">
    <%= f.label :correctoption %><br>
    <%= f.text_field :correctoption %>
  </div>
  <div class="field">
    <%= f.label :quiz_id %><br>
    <%= f.text_field :quiz_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
