<p id="notice"><%= notice %></p>

<h1>Listing Quizproblems</h1>

<table>
  <thead>
    <tr>
      <th>Statement</th>
      <th>Marks</th>
      <th>Option</th>
      <th>Correctoption</th>
      <th>Quiz</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quizproblems.each do |quizproblem| %>
      <tr>
        <td><%= quizproblem.statement %></td>
        <td><%= quizproblem.marks %></td>
        <td><%= quizproblem.option %></td>
        <td><%= quizproblem.correctoption %></td>
        <td><%= quizproblem.quiz %></td>
        <td><%= link_to 'Show', quizproblem %></td>
        <td><%= link_to 'Edit', edit_quizproblem_path(quizproblem) %></td>
        <td><%= link_to 'Destroy', quizproblem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quizproblem', new_quizproblem_path %>
