<tr class="survey">

  </td>

  <td> <%= link_to survey.name, passwordverification_path(survey_id: survey.id), class: 'survey-name' %> </td>

  <td> <span class="survey-description"><p style="white-space: pre-wrap"><%= raw(survey.description) %></p> </span> </td>

  <td class="table-center"> <%= number_of_questions(survey) %> </td>

  <td class="table-center"> <%= number_of_attempts(survey) %> </td>

  
<% if survey.user_id == current_user.id %>
  <td class="table-center survey-buttons">

    <div class="btn-group" role="group">

      <%= link_to edit_survey_path(survey.id), class: 'btn btn-default btn-sm' do %>

        <i class="fa fa-pencil-square-o"> Edit</i>

      <% end %>


      <%= link_to survey_path(survey.id), class: 'btn btn-default btn-sm', method: :delete, data: {confirm: "Are you sure you want to delete this survey?"} do %>

        <i class="fa fa-trash-o"> Delete</i>

      <% end %>

    </div>

  </td>
  <% end %>

</tr>
<script type="text/javascript">
    if(window.location.href.substr(-2) !== "?r") {
        window.location = window.location.href + "?r";
    }
</script>