<h2 class="survey-title">
  <p><small><%= @attempt.survey.description %></small></p>
</h2>
<p id="demo"></p>

<script>

    var now = new Date().getTime();

    var hours = parseInt("<%= @survey.period.to_s[11,13][0,2].to_i %>");
    var minutes = parseInt("<%= @survey.period.strftime("%M")%>");
    console.log(hours);
    var b=(hours*3600000)+(minutes*60000);

    var countDownDate = new Date().getTime()+b;
    var x = setInterval(function() {

        var now = new Date().getTime();

        var distance = countDownDate - now;

        var ho = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var mi = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        document.getElementById("demo").innerHTML = ho + "h "
            + mi + "m "+seconds+"s";
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("demo").innerHTML = "EXPIRED";
            document.getElementById('submit_atempt').click();

        }
    }, 1000);
</script>

<%= form_for(@attempt, url: attempt_scope(@attempt)) do |f| %>
    <%= hidden_field_tag :survey_id, @survey.id %>
    <%= hidden_field_tag :enrollment, params["enrollment"] %>
    <ol class="questions">
      <%= f.fields_for :answers, get_answer_fields(@attempt).sample(@attempt.survey.randomcount) do |answer_fields| %>
          <li>
            <% question = answer_fields.object.question %>
            <p class="question"><%= question.text %></p>
            <ul class="question">

              <%= collection_radio_buttons('survey_attempt[answers_attributes]', question.id, question.options, :id, :text,item_wrapper_tag: false) do |b| %>
                  <li class="radio">
                    <%= b.label { b.radio_button + b.text } %>
                  </li>
              <% end %>
            </ul>
          </li>
      <% end -%>
    </ol>
    <%= f.submit "Submit", class: 'btn btn-default', id: 'submit_atempt' %>
<% end -%>
<script>
    window.location.hash="no-back-button";
    window.location.hash="Again-No-back-button";//again because google chrome don't insert first hash into history
    window.onhashchange=function(){window.location.hash="no-back-button";}
</script>

    <script type="text/javascript" charset="utf-8">


    // "librairie" de gestion de la visibilité
    //  var visible = vis(); // donne l'état courant
    //  vis(function(){});   // définit un handler pour les changements de visibilité
    var vis = (function(){
        var stateKey, eventKey, keys = {
            hidden: "visibilitychange",
            webkitHidden: "webkitvisibilitychange",
            mozHidden: "mozvisibilitychange",
            msHidden: "msvisibilitychange"
        };
        for (stateKey in keys) {
            if (stateKey in document) {
                eventKey = keys[stateKey];
                break;
            }
        }
        return function(c) {
            if (c) {
                document.addEventListener(eventKey, c);
                //document.addEventListener("blur", c);
                //document.addEventListener("focus", c);
            }
            return !document[stateKey];
        }
    })();

    vis(function(){
        document.title = vis() ? 'Visible' : 'Not visible';
        alert("You are trying to exit the text window your test will be submitted and you will exit!")
        document.getElementById('submit_atempt').click();
//        console.log(new Date, 'visible ?', vis());
    });
//
//    // to set the initial state
//    alert("You are trying to exit the text window your test will be submitted and you will exit!")


</script>
