<div class="container">
  <a href="/surveys" class="btn btn-primary">Return To All Tests</a>
  <h2 class="survey-title">
    <%= @attempt.survey.name %>
    <p><small><%= @attempt.survey.description %></small></p>
  </h2>
  <ol class="questions">
    <% @attempt.answers.each do |answer| %>
      <li>
        <p class="question"> <%= answer.question.text %> </p>
        <ul class="options">
          <% answer.question.options.each do |option| %>
            <li class="radio">
              <label>
                <%= radio_button_tag '', '', the_chosen_one?(answer, option), disabled: true %>
                <% color = get_color_of_option(answer, option) %>
                <span class=""> <%= option.text %> <%= get_weight(option) %> </span>
              </label>
              <p class="answers-number"> <%= number_of_people_who_also_answered(option.id) %> </p>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  <ol>
</div>

<div class="container">
  <div class="alert alert-info">
    <strong>Your Score Is: </strong> <%=@attempt.score%>
  </div>
</div>
<script>
    window.location.hash="no-back-button";
    window.location.hash="Again-No-back-button";//again because google chrome don't insert first hash into history
    window.onhashchange=function(){window.location.hash="no-back-button";}
</script>