<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @test.description %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @test.duration %>
</p>

<p>
  <strong>Secret key:</strong>
  <%= @test.secret_key %>
</p>

<p>
  <strong>Total marks:</strong>
  <%= @test.total_marks %>
</p>

<p>
  <strong>User:</strong>
  <%= @test.user %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
